@import "../../_variables";

.steps-list {
	margin-right: 135px;

	@media (max-width: $desktop) {
		margin-right: 40px;
	}

	@media (max-width: $tablet) {
		display: flex;
		align-items: center;
		margin-right: 0;
		margin-bottom: 25px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media (max-width: $desktop) {
		}

		@media (max-width: $tablet) {
			flex-direction: row;
		}

		&--current {
			.steps-list__line {
				background-color: $accent-primary;
			}

			.steps-list__number-wrap {
				background-color: $accent-primary;
				&:before {
					position: absolute;
					width: 48px;
					height: 48px;
					border: 1px solid $accent-primary;
					border-radius: 50%;
					content: "";

					@media (max-width: $desktop) {
						width: 30px;
						height: 30px;
					}

					@media (max-width: $tablet) {
					}
				}
			}
		}

		&--prev {
			.steps-list__line {
				background-color: $accent-primary;
			}
			.steps-list__number-wrap {
				background-color: $accent-primary;
			}
		}
	}

	&__number-wrap {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 36px;
		height: 36px;
		border-radius: 50%;
		background-color: $neutral-decor;
		color: $light;

		@media (max-width: $desktop) {
			width: 23px;
			height: 23px;
		}

		@media (max-width: $tablet) {
		}

		&--prev {
			background-color: $accent-primary;
		}
	}

	&__line {
		display: block;
		width: 2px;
		height: 76px;
		background-color: $neutral-decor;

		@media (max-width: $desktop) {
			height: 48px;
			width: 1px;
		}

		@media (max-width: $tablet) {
			width: 45px;
			height: 2px;
		}
	}
}
