@import "../../_variables";

.choose-a-product {
	width: 380px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 50px;
	border-top: 1px solid $neutral-primary;

	@media (max-width: $desktop) {
		width: 294px;
		padding-top: 15px;
		padding-bottom: 15px;
		margin-bottom: 40px;
	}

	@media (max-width: $tablet) {
		width: 280px;
		margin-bottom: 20px;
	}

	&__price-wrap {
		margin-bottom: 20px;

		@media (max-width: $desktop) {
			margin-bottom: 15px;
		}

		@media (max-width: $tablet) {
			width: 280px;
		}
	}

	&__old-price {
		margin-right: 10px;
	}

	&__new-price {
		font-size: 30px;
		font-weight: bold;
		color: $dark-primary;

		@media (max-width: $desktop) {
			font-size: 18px;
		}
	}

	&__select-btn {
		width: 100%;
		padding-top: 19px;
		padding-bottom: 19px;
		margin-bottom: 20px;
		font-weight: bold;
		text-transform: uppercase;
		color: $light;
		background-color: $dark-primary;
		border: none;
		border-radius: 5px;
		cursor: pointer;

		@media (max-width: $desktop) {
			padding-top: 11px;
			padding-bottom: 11px;
			font-size: 14px;
		}

		@media (max-width: $tablet) {
		}
	}

	&__amazon-logo {
		height: 35px;
		margin: 0 auto;

		@media (max-width: $desktop) {
			height: 27px;
		}

		@media (max-width: $tablet) {
		}
	}
}
