@import "../../_variables";

.footer {
	margin-top: 100px;
	@media (max-width: $desktop) {
		margin-top: 60px;
	}

	@media (max-width: $tablet) {
		margin-top: 40px;
	}
	&__wrap {
		background-color: $neutral-primary;
		padding-top: 30px;
		padding-bottom: 50px;

		@media (max-width: $desktop) {
			font-size: 14px;
			padding-bottom: 40px;
		}

		@media (max-width: $tablet) {
			padding-bottom: 25px;
		}
	}

	&__main-block {
		display: flex;
		justify-content: start;
	}

	&__inner {
		width: 880px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@media (max-width: $desktop) {
			width: 594px;
		}

		@media (max-width: $tablet) {
			width: 249px;
		}
	}

	&__title {
		color: $dark-primary;
		margin-bottom: 10px;

		@media (max-width: $tablet) {
			font-size: 14px;
		}
	}

	&__list {
		@media (max-width: $tablet) {
			margin-bottom: 28px;
		}
	}

	&__item {
		margin-bottom: 10px;
	}

	&__all-rights {
		padding-top: 20px;
		padding-bottom: 15px;
		background-color: $light;
		color: $dark-primary;

		@media (max-width: $tablet) {
			font-size: 14px;
		}
	}
}
