$desktop: 1279px;
$tablet: 767px;
$mobile: 319px;

$light: #fff;
$dark-primary: #000;
$dark-secondary: rgba(0, 0, 0, 0.6);
$neutral-primary: #f5f5f5;
$neutral-secondary: #eeeeee;
$neutral-border: #c4c4c4;
$neutral-decor: #dddddd;
$accent-primary: #2196f3;
$accent-secondary: #e40000;
